
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bgglobal{
  /* width: 1912px; */
  /* height: 2985px; */
  background: #000c15;
}

/* style partie 1 */
.partie1{
  background-image:url(../images/bg1.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 850px;
}
/* .partie1::after{
  content: "";
  top: 0;
  position: absolute;
  background: linear-gradient(to bottom,black,transparent);
  width: 100%;
  height: 20%;
  z-index:0;  
} */
.partie1::before{
  content: "";
  top: 0;
  position: absolute;
  background: linear-gradient(to bottom,black,transparent);
  width: 100%;
  height: 2%;
  z-index: 1;  
}

.header{
  border-bottom:1px solid #f3e2ba ;
  height: 75px;
}
.titleatlantist{
  height: 170px;
}
h1 span{
  color: #f3e2ba;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 70px;
  margin-top:50px;
}
h4 span{
  color: #f3e2ba;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top:17px;
}
.box{
  margin-top: 15px;
  display: flex;
  height: 284px;
  width: 450px;
  background:black;
  opacity: 0.2;
}

.BW{
  border:1px solid #f3e2ba;
}
.achetermaintenent{
  margin-top: 150px;
}


/* style partie 2 */
.partie2{
height: 400px;
width: 100%;
}
.p2box{
  margin-left: 50px;
  height: 300px;
  width: 100%;
  background:transparent;
}
.p2box h2{
  color: #f3e2ba;
}
.p2box h4,p{
  color: white;
  
}
/* style partie 3 */
.partie3{
 height: 500px;
}
.partie3{
  background-image:url(../images/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 850px;
}
/* style partie 4 */
.partie4{
  height: 300px;
}
.partie4 .row{
  margin:0px 110PX;
  margin-left:150px;
}
.p4box{
  margin-top: 50px;
  height: 200px;
  margin-right: 100px;
  /* background:antiquewhite; */
}

.p4box h2 a{
  color: #f3e2ba;
  text-decoration: none;
}
.p4box h6 a{
  color:white;
  text-decoration: none;
}
.p4box ul li{
  list-style-type: none;
  margin:7px ;
}
.palet{
  width: 100%;
  height: 80px;
  background:#172128;
}
.myinput{
  margin-left: 30px;
 background: #2d2d2d;
 border: none;
}
.mydiv{
  background: #c09a78;
  border: none;
}

footer{
  height: 150px;
  padding-top: 30px;
  background: #000a12;
}
































































































































































/* .box1{
  width: 100%;
  height: 100vh;
  background: #e51010;;
  margin-bottom:10px ;  
}
.box2{ 
  gap: 10px;
  width: 100%;
  height: 100vh;
  background: #09a3d6;
}
.box{
  margin-bottom: 10px;
height: 200px;
background:#000;
} */
