<footer>
    <div class="url">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>NOS PARTENAIRES</h3>
                    <ul class="list-unstyled">
                        <li><a href="">ORICHALCUM PICTURES</a></li>
                        <li><a href="">VR-CONNECTION</a></li>
                        <li><a href="">PAYOFF TECHNOLOGIES</a></li>
                        <li class="mb-0"><a href="">DIGITEYES</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>ATLANTIS ORIGIN</h3>
                    <ul class="list-unstyled">
                        <li><a href="">ACHETER LE JEU MAINTENANT</a></li>
                        <li><a href="">DOSSIER DE PRESSE</a></li>
                        <li><a href="">LES SALLES EYEDELON</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">NOUS SUIVRE</h3>
                    <ul class="list-unstyled social text-center">
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href=""><i class="fab fa-youtube"></i></a></li>
                        <li><a href=""><i class="fab fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="newsletter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="text-right">S'INSCRIRE A LA NEWSLETTER :</p>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class=" form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="rounded-0 btn " type="button" id="button-addon2"><i class="fas fa-long-arrow-alt-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>COPYRIGHT 2018 ORICHALCUM PICUTURES</p>
    </div>
</footer>