<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav text-uppercase me-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Acceuil <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gallerie.html">GALLERIE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="apropos.html">A propos</a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="list-unstyled url-right">
            <li><a href="">FR</a></li>
            <li><span class="trait"></span></li>
            <li class="circle"><a href=""><i class="fab fa-twitter"></i></a></li>
            <li class="circle"><a href=""><i class="fab fa-linkedin-in"></i></a></li>
            <li class="circle"><a href=""><i class="fab fa-facebook-f"></i></a></li>
        </ul>
</nav>