/* start variables */
:root{
    --color-primary : #f3e2ba !important;
    --bg-page-color: #f3e2ba !important;
    --bg-footer-url: #f3e2ba !important;
    --bg-footer-newsletter: #f3e2ba !important;
    --bg-footer-copyright: #f3e2ba !important;
}
/* End variables */