<section class="contact">
 <div class="linear">
    <h1 class="text-center">contactez-nous</h1>
    <div class="container-fluid">
        <div class="row body">
            <div class="col-md-6 text">
                <h2>The Basics Of Buying A Telescope</h2>
                <p>In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space telescope known as the Hubble. While NASA has had many ups and downs, the launch and continued operation of the Hubble space telescope probably ranks next to the moon landings and the development of the Space Shuttle as one of the greatest space exploration accomplishments of the last hundred years.
                <p>TEL : 172-62-t3705</p>
                <p>ADRESSE : 6332 Alexa Corner</p>
                <p>EMAIL : aufderhar_oleta@gmail.com</p>
            </div>
            <div class=" col-sm-12 col-md-6 formulaire container-fluid">
                <div class="row mb-3">
                    <div class="col mody">
                        <input type="text" placeholder="NOM">
                    </div>
                    <div class="col">
                        <input type="text" placeholder="PRENOM">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="tel" placeholder="TEL">
                    </div>
                    <div class="col">
                        <input type="text" placeholder="SUJET">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <textarea class="form-control" id="exampleFormControlTextarea1" >MESSAGE</textarea> 
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <button type="button" class="btn btn-light  ">Envoyer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</section>