

include component/menu
<section class="apropos">
 <h1 class=" text-center  grandtitre">a propos</h1>
 <p class="text-center para"> Atlantis : the fourth sun est le fruit de la collaboration deplusieurs sociétés mettant en <br> oeuvre chacune leur domain d’expertise, qu’il s’agisse de production, de graphisme 3D, ou de <br> développement.</p>
 <div class="container text-center text-white">
     <h2 class="titreapro">Orichalcum</h2>
     <p class="text-center text-white soutiterpro">Advertise Advertise Advertise copie</p>
     <img src="img/apropos/Objet-dynamique-vectoriel.png" alt="" >               
     <p class="text-center para">Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk with Mr.Brown on his prominent local television show. These are all advertising.</p>
     <p class="text-center para"> Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they He must have very clear-cut and definite ideas as to what’s what, and no matter what influence </p>
     <p class="text-center para"> may be brought to bear upon him by the different managers the advertising manager must have a stamina to select</p>    
 </div>
 <div class="container text-center text-white ">
   <h1 class="titreapro">Orichalcum</h1>
   <p class="text-center text-white soutiterpro">Advertise Advertise Advertise copie</p>
   <img src="img/apropos/VRV.png" alt="" >
   <p class="text-center para">Businesses often become known today through effective marketing.The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk with Mr.Brown on his prominent local television show. These are all advertising.</p>
   <p class="text-center para"> Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they He must have very clear-cut and definite ideas as to what’s what, and no matter what influence </p> </div>
</section>
  include component/footer



