<section class="actualites">
 <div class="container-fluid">
  <h2>actualites</h2>
  <div id="owl2" class="owl-carousel owl-theme">
        <div class="item ">
            <div class="card bg-dark text-white">
                <img class="card-img" src="../asset/img/actualites/slide1.png" alt="">
                <div class="card-img-overlay">
                    <div class=" card-text fixed-bottom">
                        <h3>Atlantis, l’artbook  est disponible</h3>
                        <p>découvrez les croquis, les recherches, et les illustrations des auteurs d’Atlantis Origins</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card bg-dark text-white">
                <img class="card-img" src="../asset/img/actualites/slide2.png" alt="">
                <div class="card-img-overlay">
                    <div class="card-text fixed-bottom">
                        <h3>Atlantis, Le premier chapitre est disponible sur steam</h3>
                        <p>Vous pouvez d’hores et déjà acheter le premier chapitre d’Atlantis Origin sur la plateforme Steam
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card bg-dark text-white">
                <img class="card-img" src="../asset/img/actualites/slide3.png" alt="">
                <div class="card-img-overlay">
                    <div class="card-text fixed-bottom">
                        <h3> un nouveau prix pour atlantis the fourth sun</h3>
                        <p>Atlantis a remporté le prix du meilleur jeu français d’énigmes et d’aventure au Laval Virtual</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card bg-dark text-white">
                <img class="card-img" src="../asset/img/actualites/slide4.png" alt="">
                <div class="card-img-overlay">
                    <div class="card-text  fixed-bottom">
                        <h3>Atlantis, disponible chez eydolon</h3>
                        <p>Le premier chapitre d’Atlantis est disponible dans les salles Eydolon, à Lyon et à Montreux</p>
                    </div>
                </div>
            </div>
        </div>
  </div>
 </div> 
</section> 

