<header>
    include component/menu.pug 
    <div class="container text-center">
        <h1>ATLANTIS</h1>
        <h2>the fourth sun</h2>
    </div>
    <!-- start slider -->
    <div class="container-fluid">
        <div id="owl1" class="owl-carousel owl-theme">
            <div class="item">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="../asset/img/atlantis/slide1.jpg" alt="">
                    <div class="card-img-overlay">
                        <p class="card-text fixed-bottom">voyagez dans un univers mystique créé pour vous plonger en réalité virtuelle</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="../asset/img/atlantis/slide2.png" alt="">
                    <div class="card-img-overlay">
                        <p class="card-text fixed-bottom">Faites votre enquête, et découvrez la vérité derrière le funeste destin de l’atlantide</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="../asset/img/atlantis/slide3.png" alt="">
                    <div class="card-img-overlay">
                        <p class="card-text fixed-bottom">Mettez votre habilité et votre intellect à l’épreuve face à des défis venus d’un autre temps.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End slider -->
    <!-- start button -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <a href="" class="btn btn-lg btn-outline-dark w-100">acheter maintenant</a>
            </div>
        </div>
    </div>
    <!-- End button -->
</header>