<section class="presentation" >
  <div class="container-fluid">
   <div class="row">
     <div class="col-md-6">
         <h2>présentation</h2>
         <strong class="soustitre">Un jeu d’aventiure et d’énigmes épisodique en réalité virtuelle</strong>
         <p class="parapre">Se déroulant en 3 épisodes, le jeu Atlantis - the fourth sun amènera le joueur à découvrir le passé de l’ancienne cité. Suite à un malencontreux incidents, il se verra impliqué dans une aventure semée d’intrigues, de personnages attachants et repoussants, d’artefacts anciens, et de pouvoirs le dépassant. Ce n’est qu’en exploitant ses pleines capacité physique et mental qu’il pourra, peut être, sauver l’Atlantide de son funeste destin.</small></p>
         <p >This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         <a href="" class="btn btn-lg btn-outline-dark ">dossier de presse</a>
     </div>
     <div class="col-md-6">
       <img src="../asset/img/presentation/video.jpg" class="img-fluid pt-sm-5" alt="..." >
     </div>
   </div>
  </div>
</section>
