<section class="section-gallerie">
  <div class="container">
    <h3 class="title-gallerie">GALLERIE</h3>
    <div class="flexslider">
      <ul class="slides">
        <li data-thumb="../asset/img/Galerie/galerie-0.jpg">
          <img src="../asset/img/Galerie/galerie-0.jpg" />
        </li>
        <li data-thumb="../asset/img/Galerie/galerie-1.jpg">
          <img src="../asset/img/Galerie/galerie-1.jpg" />
        </li>
        <li data-thumb="../asset/img/Galerie/galerie-2.jpg">
          <img src="../asset/img/Galerie/galerie-2.jpg" />
        </li>
        <li data-thumb="../asset/img/Galerie/galerie-3.jpg">
          <img src="../asset/img/Galerie/galerie-3.jpg" />
        </li>
        <li data-thumb="../asset/img/Galerie/galerie-4.jpg">
          <img src="../asset/img/Galerie/galerie-4.jpg" />
        </li>
        <li data-thumb="../asset/img/Galerie/galerie-5.jpg">
          <img src="../asset/img/Galerie/galerie-5.jpg" />
        </li>
        <li data-thumb="../asset/img/Galerie/galerie-6.jpg">
          <img src="../asset/img/Galerie/galerie-6.jpg" />
        </li>
        <li data-thumb="../asset/img/Galerie/galerie-7.jpg">
          <img src="../asset/img/Galerie/galerie-7.jpg" />
        </li>
      </ul>
    </div>
  </div>
</section>
